@using MES_WORK.Controllers;
@using MES_WORK.Models;
@using System.Data;
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    //只修改Controller
    MED020BController myCT = new MED020BController();

    Comm comm = new Comm();

    string sPrgCode = ViewContext.RouteData.Values["controller"].ToString();
    string sAction = ViewContext.RouteData.Values["action"].ToString();
}

<form id="ajax-contact-form" action=@Url.Action(sAction, sPrgCode) method="post" class="form-horizontal" role="form">
    <div id="navigation" class="container col-12 content">
        <div class="col-12">
            <div class="content_body">
                <div class="content_input">
                    <div class="mb-4 d-flex flex-nowrap justify-content-center">
                        <label class="mr-3" for="">派工單號</label>
                        <input class="mr-3" type="text" id="wrk_code" name="wrk_code" placeholder="刷讀派工單號條碼">
                    </div>
                    @{
                        try
                        {
                            int temp = 0010;
                            int i = 0, round = 0;

                            while (round <= ViewBag.Tabel.Rows.Count - 1)
                            {
                                if (int.Parse(ViewBag.Tabel.Rows[i]["scr_no"].ToString()) == temp)
                                {
                                    <div class="mb-4 d-flex flex-nowrap justify-content-center">
                                        <label class="mr-3">@ViewBag.Tabel.Rows[i]["field_name"].ToString()</label>
                                        <input class="mr-3" type="text" id="@ViewBag.Tabel.Rows[i]["field_code"].ToString()"
                                               name="@ViewBag.Tabel.Rows[i]["field_code"].ToString()"
                                               value="@ViewData[ViewBag.Tabel.Rows[i]["field_code"].ToString()]"
                                               placeholder='請輸入 @ViewBag.Tabel.Rows[i]["field_name"].ToString()'>
                                    </div>
                                    temp += 10;
                                    ++round;
                                    i = 0;
                                }
                                else { i++; }

                            }

                        }
                        catch { }
                    }
                </div>
            </div>

            <div class="confirm_buttons">
                <input class="submit inpu ts" type="submit" name="bt_submit" value="儲存" />
                <a href="@Url.Action("Index", "Main")">
                    <input class="submit inpu tb" type="button" name="bt_submit" value="返回" />
                </a>
            </div>

            <div style="width:100%;float:right">
                <div class="control-group">
                    <label style="font-size:18px;">未完工工單列表:</label>
                </div>
                <div id="divTable" class="content_table-lg col-12 mt-4 mb-4">
                    <table>
                        <tbody>
                            <tr>
                                <th>
                                    <label class="col-sm-3-offset-3 no-padding-right">工單順序</label>
                                </th>
                                <th>
                                    <label class="col-sm-3-offset-3 no-padding-right">排程開工</label>
                                </th>
                                <th>
                                    <label class="col-sm-3-offset-3 no-padding-right">派工單號</label>
                                </th>
                                <th>
                                    <label class="col-sm-3-offset-3 no-padding-right">產品名稱</label>
                                </th>
                                <th>
                                    <label class="col-sm-3-offset-3 no-padding-right">工單狀態</label>
                                </th>
                            </tr>
                            @for (int i = 0; i < myCT.Get_Data().Rows.Count; i++)
                            {
                                DataRow Row = myCT.Get_Data().Rows[i];
                                <tr>
                                    <td>@Row["scr_no"].ToString()</td>
                                    @*<td>@Row["mo_code"].ToString() </td>*@
                                    <td>@Row["sch_datetime_s"].ToString() </td>
                                    <td>@Row["wrk_code"].ToString() </td>
                                    <td>@Row["pro_name"].ToString()</td>
                                    <td>@Row["mo_status_wrk"].ToString()</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="content_table-sm col-12 mt-4 mb-4">
                    @for (int i = 0; i < myCT.Get_Data().Rows.Count; i++)
                    {
                        DataRow Row = myCT.Get_Data().Rows[i];
                        <div class="mt-4">
                            <table>
                                <tr>
                                    <th class="column_number" rowspan="10">@(i + 1)</th>
                                </tr>
                                <tr>
                                    <th>工單順序</th>
                                    <td>@Row["scr_no"].ToString()</td>
                                    <th>排程開工</th>
                                    <td>@Row["sch_datetime_s"].ToString()</td>
                                    @*<th>製令號碼</th>
                                    <td>@Row["mo_code"].ToString()</td>*@
                                </tr>
                                <tr>
                                    <th>派工單號</th>
                                    <td>@Row["wrk_code"].ToString()</td>
                                    <th>產品名稱</th>
                                    <td>@Row["pro_name"].ToString()</td>
                                </tr>
                                <tr>
                                    <th>工單狀態</th>
                                    <td>@Row["mo_status_wrk"].ToString()</td>
                                    <th></th>
                                    <td></td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>
                <div class="content_table-sm col-12 mt-4 mb-4 other_style">
                    @for (int i = 0; i < myCT.Get_Data().Rows.Count; i++)
                    {
                        DataRow Row = myCT.Get_Data().Rows[i];
                        <div class="mt-4">
                            <table>
                                <tr>
                                    <th class="column_number" rowspan="16">@(i + 1)</th>
                                </tr>
                                <tr>
                                    <th>工單順序</th>
                                    <td>@Row["scr_no"].ToString()</td>
                                </tr>
                                <tr>
                                    <th>排程開工</th>
                                    <td>@Row["sch_datetime_s"].ToString()</td>                                
                                    @*<th>製令號碼</th>
                                    <td>@Row["mo_code"].ToString()</td>*@
                                </tr>
                                <tr>
                                    <th>派工單號</th>
                                    <td>@Row["wrk_code"].ToString()</td>
                                </tr>
                                <tr>
                                    <th>產品名稱</th>
                                    <td>@Row["pro_name"].ToString()</td>
                                </tr>
                                <tr>
                                    <th>工單狀態</th>
                                    <td>@Row["mo_status_wrk"].ToString()</td>
                                </tr>
                            </table>
                        </div>
                    }
                </div>
            </div>
            <div style='clear:both;'></div>

        </div>

        <div style='clear:both;'></div>
    </div>

    <div id="alert_div" class="message error" style="margin-top:25px;">
        <label class="" id="" style="font-size:30px" color:#3968af;">
            訊息:
        </label>
        <label id="alert_label" style="font-size:30px">

        </label>
    </div>
</form>

@section footer_script{
    <script type="text/javascript">

        $(document).ready(function () {
            $('#wrk_code').focus()
        })

        //檢查輸入項
        $(document).on('change', 'input', function () {
            var id = $(this).attr('id')
            var val = $(this).val()
            Chk_Input(id, val)
        })

        ////刷讀條碼 帶出對應label 目前先寫死
        //$(document).on('change', '#wrk_code', function () {
        //    $('#pro_name').html(Get_ProName($(this).val()))
        //})

        //提交檢查
        $(document).on('submit', '#ajax-contact-form', function () {
            if (!Chk_ID()) { return false }
            var submit = true
            $('input').each(function () {
                if (!Chk_Input($(this).attr('id'), $(this).val())) { submit = false }
            })
            if (!Chk_Submit()) { submit = false }

            if (!submit) { return false }
        })
        //檢查人員上工
        function Chk_ID() {
            var bool = true
            $.ajax({
                method: 'post',
                async: false,
                url: '@Url.Action("Chk_ID")',
                success: function (data) {
                    if (data == "False") {
                        var message = "請確認人員" //訊息
                        $('#alert_label').html(message)
                        bool = false

                        return bool
                    }

                }
            })
            return bool
        }

        //檢查輸入項
        function Chk_Input(id, value) {
            var bool = true
            $.ajax({
                method: 'post',
                async: false,
                url: '@Url.Action("Chk_Input")',
                data: {
                    pID: function () { return id; },
                    pValue: function () { return value; },
                },
                success: function (data) {
                    if (data != '') {
                        var status = data.split("|")[0]  //狀態
                        var message = data.split("|")[1] //訊息
                        var isselect = data.split("|")[2]//是否反白

                        if (status == "N") { bool = false }
                        $('#alert_label').html(message)
                        if (isselect == "True") { $('#' + id).select() }
                    }
                }
            })
            return bool
        }

        //提交判斷邏輯(回傳false的話，則無法提交)，目前先寫死
        function Chk_Submit() {
            var bool = true
            $.ajax({
                type: "POST",
                async: false,
                url: '@Url.Action("Chk_Submit")',
                data: {
                    //要傳的欄位
                    "mo_code": function () { return $('#mo_code').val(); },
                },
                success: function (data) {
                    if (data != '') {
                        var status = data.split("|")[0]  //狀態
                        var message = data.split("|")[1] //訊息

                        if (status == "N") { bool = false }
                        $('#alert_label').html(message)
                    }
                }
            })
            return bool
        }


        function Get_Data(T, K, KF, F) {
            var val = ""
            $.ajax({
                method: 'post',
                async: false,
                url: '@Url.Action("Get_Data", "GetData")',
                data: {
                    T: function () { return T; },
                    K: function () { return K; },
                    KF: function () { return KF; },
                    F: function () { return F; },
                },
                success: function (data) {
                    if (data != "") {
                        val = data
                    }
                }
            })
            return val
        }

        @*function Get_ProName(wrk_code) {
            var val = ""
            $.ajax({
                method: 'post',
                async: false,
                url: '@Url.Action("Get_ProName")',
                data: {
                    pWrkCode: function () { return wrk_code; },
                },
                success: function (data) {
                    if (data != "") {
                        val = data
                    }
                }
            })
            return val
        }*@

        $(document).ready(function () {
            $('input').addClass('enterIndex');
            // get only input tags with class data-entry
            textboxes = $('.enterIndex');
            // now we check to see which browser is being used
            $(textboxes).bind('keypress', CheckForEnter);
        });
        function CheckForEnter(event) {
            if (event.keyCode == 13 && $(this).attr('type') != 'button' && $(this).attr('type') != 'submit' && $(this).attr('type') != 'textarea' && $(this).attr('type') != 'reset') {
                var i = $('.enterIndex').index($(this));  //現在是在第幾個
                var n = $('.enterIndex').length;  //總共有幾個
                if (i < n - 1) {
                    if ($(this).attr('type') != 'radio')  //如果不是radio
                    {
                        NextDOM($('.enterIndex'), i);
                    }
                    else {  //如果是radio，不能focus到下一個，因為下一個可能是同樣name的radio
                        var last_radio = $('.enterIndex').index($('.enterIndex[type=radio][name=' + $(this).attr('name') + ']:last'));
                        NextDOM($('.enterIndex'), last_radio);
                    }
                } else {
                    $('form').submit()
                }
                return false;
            }
        }
        function NextDOM(myjQueryObjects, counter) {
            if (myjQueryObjects.eq(counter + 1)[0].disabled) {
                NextDOM(myjQueryObjects, counter + 1);
            }
            else {
                myjQueryObjects.eq(counter + 1).trigger('focus');
            }
        }
    </script>
}
